---
import Card from "@/components/Card.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Pagination from "@/components/Pagination.astro";
import { SITE } from "@/config";
import { DEFAULT_LOCALE, SUPPORTED_LOCALES } from "@/i18n/config";
import { translateFor } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import getPostsByTag from "@/utils/getPostsByTag";
import getUniqueTags from "@/utils/getUniqueTags";
import { getPostsGroupedByLocale } from "@/utils/posts";
import type { GetStaticPathsOptions } from "astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const postsByLocale = await getPostsGroupedByLocale({
    allowedLocales: SUPPORTED_LOCALES,
  });

  return SUPPORTED_LOCALES.flatMap(localeKey => {
    const posts = postsByLocale[localeKey] || [];

    const tags = getUniqueTags(posts);

    return tags.flatMap(({ tag, tagName }) => {
      const tagPosts = getPostsByTag(posts, tag);

      return paginate(tagPosts, {
        params: {
          tag,
          locale: localeKey === DEFAULT_LOCALE ? undefined : localeKey,
        },
        props: { tagName },
        pageSize: SITE.postPerPage,
      });
    });
  });
}

const params = Astro.params;
const { tag } = params;
const { page, tagName } = Astro.props;

const t = translateFor(Astro.currentLocale);
---

<Layout title={`${t("tag")}: ${tagName} | ${t("site.title")}`}>
  <Header />
  <Main
    pageTitle={[`${t("tag")}:`, `${tagName}`]}
    titleTransition={tag}
    pageDesc={t("tag.desc", { name: tagName })}
  >
    <h1 slot="title" transition:name={tag}>{`${t("tag")}:${tag}`}</h1>
    <ul>
      {page.data.map(data => <Card {...data} />)}
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
